{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">

        <li><a href="https://github.com/danerf"><img src="{% static 'images/insta.jpg' %}" alt="..."></a></li>

        <li><a href="https://www.linkedin.com/in/dferhadi/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} This website was coded in HTML, CSS, Javascript, and Django. It is hosted on a - Server from -. Designed and deployed by <a href="https://danerferhadi.com/" target="_blank">Ferhadi Analytics.</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->